# Database
DATABASE_URL=postgresql://user:password@localhost:5432/dbname

# App
APP_ENV=development
APP_TITLE=Movie App
APP_VERSION=0.1.0
SECRET_KEY=generate-a-strong-secret-key

# JWT
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

#ADMIN
# ADMIN_API_KEY  = your-admin-key-here

# TMDB
TMDB_API_KEY=your-tmdb-api-key
TMDB_BASE_URL=https://api.themoviedb.org/3
TMDB_IMAGE_BASE_URL=https://image.tmdb.org/t/p

# CORS
ALLOWED_ORIGINS=http://localhost:3000